:root {
  --background: #ffffff;
  --foreground: #fdfdfd;
  --section-title: black;
  --main-button: black;
  --text-color: #292929;
  --grey: #f0f0f0;
  --border: #f1f2f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #191919;
    --section-title: white;
    --main-button: white;
    --text-color: #cccccc;
    --grey: #1a1a1a;
    --border: #1a1a1a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Figtree, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Figtree, sans-serif;
  transition: all 0.2s;
}

img {
  user-select: none;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
